body {
	background-color: beige;
	font-family: Georgia, serif;
}

h1, p, form {
	text-align: center;
}

p {
	margin-right: 5%;
	margin-left: 5%;
}

input[type=text] {
	width: 112px;
	height: 15px;
}

link {
	text-align: center;
}

h3 {
	text-align: center;
}
table {
	width: 150px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.loader {

	display: inline-block;
  margin-left: 0 auto;
  margin-right: 0 auto;
}


